# 2. Operators


## Mathematical operators 

In the previous section, you saw that variables can be assigned different types of values. Such values can be further processed or manipulated by making use of so-called operators: symbols that represent specific actions. They can be applied to values, or to variables representing certain values. The values that are combined with these operators are called the *operands*.

Numerical values can be used in combination with mathematical operators:


<p>
<table width="100%; " style="text-align: left; font-size: 1.0em;  ">
<tr style="text-align: left; " >
    <td width="35%" style="text-align: center; ">+</td>    
<td style="text-align: left; padding-right: 40%;"  width="65%">Addition</td>    
</tr> 
    <tr style="text-align: left; ">
    <td width="35%" style="text-align: center; ">-</td>    
<td style="text-align: left; " width="65%" >Subtraction</td>    
</tr>
      <tr style="text-align: left; ">
    <td width="35%" style="text-align: center; " >*</td>    
<td style="text-align: left; "  width="65%">Multiplication</td>    
</tr>
   <tr style="text-align: left; ">
    <td width="35%" style="text-align: center; ">/</td>    
<td style="text-align: left; "  width="65%">Division</td>    
</tr>

   <tr style="text-align: left; ">
       <td width="35%" style="text-align: center; ">**</td>    
<td style="text-align: left; " width="65%" >to the power of</td>    
</tr>
    
 
    
    
</table>
  </p>
  
 The code below contains a number of examples of how such mathematical operators can be used.

In [ ]:
# Firstly, we create two values a and b
# and assign them numerical values

a = 4
b = 3

c = a + b
print(c)
# c now has value 7

In [ ]:
c = a * b
print(c)
#c now has value 12 (4 times 3)

In [ ]:
c = a - b
print(c)
# c has value 1 (4 minus 3)

In [ ]:
c = c+1
print(c)
#c now has value 2

In [ ]:
c += 1
print(c)
# c now has value 3.
# c += 1 is a shorthand notation for  c = c + 1

In [ ]:
c = a ** b
print(c)
# c now has value 64 
# a multiplied with itself b times: a*a*a


## Boolean operators

Boolean operators are operators which compare values. Unlike mathematical operators, such comparisons do not return a number, but a value representing either `True` or `False`. Such a value is called a Boolean value. You can work with the following Boolean operators:


<p>
<table width="100%; " style="text-align: left; font-size: 1.0em; ">
    <tr style="text-align: left; " >
    <td width="15%" style="text-align: center; ">Operator</td>    
<td style="text-align: left; padding-right: 40%;">Description</td>    
</tr> 
<tr style="text-align: left; " >
    <td width="15%" style="text-align: center; ">==</td>    
<td style="text-align: left; padding-right: 40%;">equal to</td>    
</tr> 
<tr style="text-align: left; " >
    <td width="15%" style="text-align: center; ">!=</td>    
<td style="text-align: left; padding-right: 40%;">not equal to / different from</td>    
</tr> 
    <tr style="text-align: left; ">
    <td width="15%" style="text-align: center; ">&gt;</td>    
<td style="text-align: left; " >greater than</td>    
</tr>
      <tr style="text-align: left; ">
    <td width="15%" style="text-align: center; " >&lt;</td>    
<td style="text-align: left; " >less than</td>    
</tr>
   <tr style="text-align: left; ">
    <td width="15%" style="text-align: center; ">&gt;=</td>    
<td style="text-align: left; " >greater than or equal to</td>    
</tr>
      <tr style="text-align: left; ">
    <td width="15%" style="text-align: center; ">&lt;=</td>    
<td style="text-align: left; " >less than or equal to</td>    
</tr>
</table>
  </p>

There is an important difference between the single equals sign (`=`) and the double equals sign (`==`). The single equals sign is the assignment operator. It can be used to associate a value with a variable. The double equals sign is a Boolean operator which tests whether two operands are equal. The exclamation mark and the equals sign (`!=`) tests whether two operands are different. 

The code below demonstrates how such Boolean operators can be used.

In [ ]:
print( 3 > 5 )
## prints 'False'

In [ ]:
print( 8 <= 10 )
## prints 'True'

In [ ]:
print ( (10-5) == (8-3) )
## prints 'True'; both expressions represent value 5

When Boolean operators are combined with operands, as in the examples above, this combination is referred to as an expression. An expression cannot be an independent statement in itself. Such expressions form the building blocks of statements. 

Indivual expressions may also be combined with other expressions to form more complicated expressions. To create such compound Boolean expressions you can make use of the bitwise operators `and` and `or` or the symbols `&` and `|`. 



<p>
<table width="100%; " style="text-align: left; font-size: 1.0em; ">
    <tr style="text-align: left; " >
    <td width="25%" style="text-align: center; ">Operator as word</td>
          <td width="35%" style="text-align: center; ">Operator as symbol</td>
<td style="text-align: left; padding-right: 40%;">Description</td>    
</tr> 
<tr style="text-align: left; " >
    <td width="25%" style="text-align: center; ">and</td>  
       <td width="35%" style="text-align: center; ">&amp;</td>  
<td style="text-align: left; padding-right: 40%;">Logical and</td>    
</tr> 
    <tr style="text-align: left; ">
    <td width="25%" style="text-align: center; ">or</td> 
        <td width="35%" style="text-align: center; ">|</td> 
<td style="text-align: left; " >Logical or</td>    
</tr>
      <tr style="text-align: left; ">
           <td width="25%" style="text-align: center; " >not</td>  
    <td width="40%" style="text-align: center; " ></td>    
<td style="text-align: left; " >Negation</td>    
</tr>
   </table>
  </p>

<br/>

Note that there is no symbol for the negation. To negate a Boolean expression, you can simply place `not` in front of the expression. A number of examples can be found below.

In [ ]:
print( 6 < 3 and 7 < 8 )
# prints 'False'; 7 < 8 is True, but 6 < 3 is False. they are not both True!

In [ ]:
print( 6 < 3 | 7 < 8 )
# prints 'True'. One of the expressions given is indeed true.

In [ ]:
print( not 3 < 6  )
# prints 'False'. 3 < 6 is True; the negation is False.

These Boolean expressions can be used both with numbers and with strings. When you use the 'greater than' operator in combination with two strings, Python will sort the two strings alphabetically and evaluate whether the first string comes before the second string. The expression on the example below will be evaluated as 'True'.

In [ ]:
print ( 'Pear' > 'Apple')

The equality operator, (`==`), can be used to test whether two string have exactly the same characters. The Boolean expression below is evaluated as 'False'

In [ ]:
string_to_test = 'Apple'

print(  string_to_test == 'Pear')

## Printing the values of variables

As was discussed above, you can use the `print()` function to communicate the output of your programme. This `print()` function can only take string variables as input. If you use the `print()` function in combination with a single numerical value, Python will convert this number to a string automatically.

The situation becomes more complicated when you want to combine strings and numbers. This can be the case when you want to print a longer sentence which includes the results of a calculation based on numeric variables you created earlier. In such a composite sentence the integers in this sentence need to be converted into strings first, via the `str()` function. It may be accomplished as follows:

In [ ]:
'string1' + 'string2'

In [ ]:
a = 5
b = 7



print( str(a) + ' plus ' + str(b) + ' is ' + str( a+b ) )

## This prints '5 plus 7 is 12'

Having to convert all integers to strings may be slightly cumbersome. An alternative solution is to make use of so-called f-strings. The 'f' stands for 'format'. These f-strings have been available since Python 3.6. To create this type of string, you need to place the character 'f' immediately before the opening quote of your string. Within the string that is created in this way, it is possible to include one or more curly brackets, containing the name of a variable. The output of such an f-string is a string containing the *values* of the variabes you refer to in these curly brackets. 

The code below gives an example.

In [ ]:
a = 5
b = 7

print(a,b)

print( f'Variable a: {a}\nVariable b: {b}')
print( f'{a} plus {b} is {a+b}' )

## This also prints '5 plus 7 is 12'

As a third possibility, you can work with the `format()` method. This method needs to be appended to the end of the string that you want to print. As parameters, you need to supply the values you want to print. The stirng to be printed needs to contain sets of curly brackets, on the locations on whch those values need to appear. These brackets function as placeholders. They need to reman empty.

In [ ]:
print( '{} plus {} is {}'.format( a , b, (a+b)) )

 # Exercises

## Exercise 2.1.

Declare three numerical variables with arbitrary values. What is the average of these three values?

## Exercise 2.2.

Declare two numerical variables and assign them arbitrary numerical values. Using Boolean operators, test whether the first value is less than, greater than, or equal to the second value. Add `print()` statements which can output either 'True' or 'False'

## Exercise 2.3.

Write code which can calculate the number of seconds in seven days.

## Exercise 2.4.

Debug the code below. The code does not contain a syntax error but a semantic error. Do you understand what happens in the code as given?

In [1]:
nr_weeks = "4"
print( "Number of days: " + (nr_weeks*7) )

Number of days: 4444444

## Exercise 2.5.

Given an exchange rate of 1.2409 (euros to American dollars), how many dollars can you buy for 150 euros? Use the in-built round() function to ensure that the floating point number that results from the calculation is shown as an actual amount, indicating the number of cents. The first parameter of 'round()' is the number to be rounded, and the second number is the number of digits beyond the decimal point.