# 11. Pandas

## Exercise 11.1.

Download the CSV file ‘nobel.csv’: 
https://edu.nl/3xmbd  

Using the data in this file, try to answer the following questions:

11.1.a. How many Nobel laureates are described in this file?

11.1.b. How many of these are from the Netherlands? What are the names of the Dutch Nobel prize winners?

11.1.c. How many female Nobel laureates are there in this data set? What are their names?

11.1.d. Who was the youngest person ever to receive the Nobel Prize? Who was the oldest person? 

Tip: create a new column called ‘Age’, in which the year in which the prize was awarded is subtracted from the year of birth. The year of birth can be extracted from the date of birth using the following code: 
> `nobel['Birth Year'] = pd.to_datetime(nobel['Birth Date']).dt.year`


11.1.e. For each discipline, calculate the average age of the Nobel laureates. 

11.1.f. Create a list of all the unique countries, and calculate the number of Nobel laureates per country.

In [1]:
import pandas as pd
from os.path import join

path_to_csv = join('..','Data','nobel.csv')
nobel = pd.read_csv( path_to_csv )

# Each row describes a nobel laureate
# The number of rows and columns can be found using 'shape'
# 'shape' results in a so-called tuple, with two values. To print only the first value,
# use shape[0]
print( 'Number of nobel laureates: {}'.format(nobel.shape[0] ) )

Number of nobel laureates: 969

In [2]:
## Number of Dutch nobel laureates
dutch = nobel[ nobel['Birth Country'] == 'Netherlands' ]
print( '\n\nNumber of Dutch Nobel laureates: {}'.format(dutch.shape[0] ) )

for index, row in dutch.iterrows():
    print( row['Full Name'] )

Number of Dutch Nobel laureates: 19
Jacobus Henricus van 't Hoff
Hendrik Antoon Lorentz
Pieter Zeeman
Johannes Diderik van der Waals
Tobias Michael Carel Asser
Heike Kamerlingh Onnes
Christiaan Eijkman
Petrus (Peter) Josephus Wilhelmus Debye
Petrus (Peter) Josephus Wilhelmus Debye
Frits Zernike
Jan Tinbergen
Nikolaas Tinbergen
Tjalling C. Koopmans
Nicolaas Bloembergen
Simon van der Meer
Paul J. Crutzen
Gerardus 't Hooft
Martinus J.G. Veltman
Bernard L. Feringa

In [3]:
## Number of Female nobel laureates
female = nobel[ nobel['Sex'] == 'Female' ]
print( '\n\nNumber of female Nobel laureates: {}'.format(female.shape[0] ) )

for index, row in female.iterrows():
    print( row['Full Name'] )

Number of female Nobel laureates: 50
Marie Curie, née Sklodowska
Baroness Bertha Sophie Felicita von Suttner, née Countess Kinsky von Chinic und Tettau
Selma Ottilia Lovisa Lagerlöf
Marie Curie, née Sklodowska
Grazia Deledda
Sigrid Undset
Jane Addams
Irène Joliot-Curie
Pearl Buck
Gabriela Mistral
Emily Greene Balch
Gerty Theresa Cori, née Radnitz
Maria Goeppert Mayer
Dorothy Crowfoot Hodgkin
Nelly Sachs
Betty Williams
Mairead Corrigan
Rosalyn Yalow
Mother Teresa
Alva Myrdal
Barbara McClintock
Rita Levi-Montalcini
Gertrude B. Elion
Nadine Gordimer
Aung San Suu Kyi
Rigoberta Menchú Tum
Toni Morrison
Christiane Nüsslein-Volhard
Wislawa Szymborska
Jody Williams
Shirin Ebadi
Elfriede Jelinek
Linda B. Buck
Wangari Muta Maathai
Doris Lessing
Françoise Barré-Sinoussi
Ada E. Yonath
Elinor Ostrom
Elinor Ostrom
Herta Müller
Elizabeth H. Blackburn
Carol W. Greider
Ellen Johnson Sirleaf
Leymah Gbowee
Tawakkol Karman
Alice Munro
May-Britt Moser
Malala Yousafzai
Svetlana Alexievich
Youyou Tu

In [4]:
# extract the year of birth from the birth date
nobel['Birth Year'] = pd.to_datetime(nobel['Birth Date']).dt.year

# calculate age by subtracting birth year from year of nobel prize 
nobel['Age'] = nobel['Year'] - nobel['Birth Year']

# find minimum and maximum in column 'Age'
youngest = nobel['Age'].min()
oldest = nobel['Age'].max()

print('\n')
# print the names of these Nobel laureates, using iterrows()
for index, row in nobel.iterrows():
    if row['Age'] == youngest:
        print('The youngest Nobel laureate was {}, aged {}.'.format( row['Full Name'] , int(row['Age'])))
    if row['Age'] == oldest:
        print( 'The oldest Nobel laureate was {}, aged {}.'.format( row['Full Name'] , row['Age']) )

The oldest Nobel laureate was Leonid Hurwicz, aged 90.0.
The youngest Nobel laureate was Malala Yousafzai, aged 17.

In [19]:
# For each discipline, calculate the average age of the Nobel laureates.
# First, divide the data frame into groups based on 'Category', using groupby('Category')
# In these groups, select only the 'Age' column, by appending ['Age']
# Next calculate the mean. The result is a Series object. 
# You can get the indices of this Series using the 'index' property
print('\nThe average age in each category:')
average_age = nobel.groupby('Category')['Age'].mean() 

print( average_age.to_string() )

The average age in each category:
Category
Chemistry     58.134715
Economics     67.048193
Literature    64.672566
Medicine      57.933921
Peace         61.394231
Physics       55.850000

In [6]:
# Create a list of all the unique countries, and calculate 
# the number of Nobel laureates per country.
# First, divide the data frame into groups based on 'Birth Country', using groupby('Category')
# In these groups, select only the 'Laureate ID' column, by appending ['Laureate ID']
# Next, calculate the number of rows in each group, using count() 
# The result is a Series object. 
# You can get the indices of this Series using the 'index' property  

print('\nThe number of Nobel laureates per country')
countries = nobel.groupby('Birth Country')['Laureate ID'].count()
for c in countries.index:
    print( '{}: {}'.format( c , countries[c] ) )

The number of Nobel laureates per country
Argentina: 4
Australia: 11
Austria: 15
Austria-Hungary (Austria): 2
Austria-Hungary (Bosnia and Herzegovina): 1
Austria-Hungary (Croatia): 1
Austria-Hungary (Czech Republic): 4
Austria-Hungary (Hungary): 3
Austria-Hungary (Poland): 1
Austria-Hungary (Slovenia): 1
Austria-Hungary (Ukraine): 1
Austrian Empire (Austria): 2
Austrian Empire (Czech Republic): 1
Austrian Empire (Italy): 1
Bavaria (Germany): 1
Belgium: 9
Bosnia (Bosnia and Herzegovina): 1
Brazil: 1
British India (Bangladesh): 1
British India (India): 1
British Mandate of Palestine (Israel): 5
British Protectorate of Palestine (Israel): 1
British West Indies (Saint Lucia): 1
Bulgaria: 1
Burma (Myanmar): 1
Canada: 18
Chile: 2
China: 12
Colombia: 2
Costa Rica: 1
Crete (Greece): 1
Cyprus: 1
Czechoslovakia (Czech Republic): 1
Denmark: 11
East Friesland (Germany): 1
East Timor: 2
Egypt: 6
Faroe Islands (Denmark): 1
Finland: 2
France: 53
Free City of Danzig (Poland): 1
French Algeria (Algeria): 3
German-occupied Poland (Poland): 1
Germany: 70
Germany (France): 3
Germany (Poland): 10
Germany (Russia): 3
Gold Coast (Ghana): 1
Guadeloupe Island: 1
Guatemala: 2
Hesse-Kassel (Germany): 1
Hungary: 6
Hungary (Slovakia): 1
Iceland: 1
India: 7
India (Pakistan): 3
Iran: 1
Ireland: 5
Italy: 18
Japan: 29
Java, Dutch East Indies (Indonesia): 1
Kenya: 1
Korea (South Korea): 2
Liberia: 2
Lithuania: 1
Luxembourg: 2
Madagascar: 1
Mecklenburg (Germany): 1
Mexico: 3
Morocco: 2
Netherlands: 19
New Zealand: 3
Nigeria: 1
Northern Ireland: 5
Norway: 13
Ottoman Empire (Republic of Macedonia): 1
Ottoman Empire (Turkey): 1
Pakistan: 1
Persia (Iran): 1
Peru: 1
Poland: 6
Poland (Belarus): 1
Poland (Lithuania): 1
Poland (Ukraine): 1
Portugal: 3
Prussia (Germany): 7
Prussia (Poland): 6
Prussia (Russia): 1
Romania: 5
Russia: 20
Russian Empire (Azerbaijan): 1
Russian Empire (Belarus): 2
Russian Empire (Finland): 3
Russian Empire (Latvia): 1
Russian Empire (Lithuania): 1
Russian Empire (Poland): 5
Russian Empire (Russia): 2
Russian Empire (Ukraine): 2
Saint Lucia: 1
Schleswig (Germany): 2
Scotland: 9
South Africa: 9
Southern Rhodesia (Zimbabwe): 1
Spain: 7
Sweden: 30
Switzerland: 17
Taiwan: 1
Tibet (People's Republic of China): 1
Trinidad: 1
Turkey: 2
Tuscany (Italy): 1
Ukraine: 1
Union of Soviet Socialist Republics (Belarus): 1
Union of Soviet Socialist Republics (Russia): 4
United Kingdom: 88
United States of America: 276
Venezuela: 1
Vietnam: 1
W&uuml;rttemberg (Germany): 1
West Germany (Germany): 5
Yemen: 1

## Exercise 11.2.

Download the Excel file names 'Grades.xsl' from the following address: 

https://edu.nl/m6w8n

This spreadsheet contains the partial grades received in a certain course. 

Write code which can calculate and print the final grade for each student. The essay and the exam both count for 40% the grade. The remaining 20% is determined by the presentation. All grades should have one digit after the decimal point. 

Print a list with the full names of the students, together with their final grade for the course.

Additionally, answer the following questions:
* Which student has received the highest mark for the essay?
* Which student scored worst on the presentation? 
* How many students have received a 6 or lower for the exam?

In [7]:
import pandas as pd

df = pd.read_excel( 'Grades.xlsx' , sheet_name = "Sheet1")

df.columns.tolist()

df['final_mark'] = round( 0.4 * df['Essay'] + 0.4 * df['Exam'] + 0.2 * df['Presentation'] , 1 ) 

df = df.sort_values(['Last'])

 
best_essays = df[ df['Essay'] == df['Essay'].max() ] 
worst_presentations = df[ df['Presentation'] == df['Presentation'].min() ] 
insufficient_exam = df[ df['Exam'] < 6 ] 

print('Best essay:')
for index , row in best_essays.iterrows():
    print( '{} {}: {}'.format( row['First'] , row['Last'] , row['Essay'] ) )
    
    
print('\nWorst presentation:')
for index , row in worst_presentations.iterrows():
    print( '{} {}: {}'.format( row['First'] , row['Last'] , row['Presentation'] ) )

print('\nThe following students received an insufficient mark for the exam:')
for index , row in insufficient_exam.iterrows():
    print( '{} {}: {}'.format( row['First'] , row['Last'] , row['Exam'] ) )

FileNotFoundError: [Errno 2] No such file or directory: 'Grades.xlsx'

## Exercise 11.3

In the exercise, we make use of the following data set: 

> Fatah-Black, Dr KJ (Leiden University) (2017): Lijsten van de leveranties, met de namen van de kopers en betaalde prijzen op de verkopingen van de VOC kamer Zeeland, 1725 – 1777. DANS. https://doi.org/10.17026/dans-23z-ez6f

This data set lists the goods that have been sold at VOC auctions in Zeeland in the 18th century. For each transaction, data is available about the name of the buyer, the product that was bought, the date of the transaction and the price that was paid. The price is specified in Flemish pounds and groten. 1 Flemish pound was equal to 20 groten. 

For the purpose of this exercise, the original data set has been changed slightly. Some rows containing invalid data were removed. Column names and values were also translated into English. The modified CSV file can be downloaded from https://tdm.universiteitleiden.nl/Python/voc-data.csv

As this data set offers information about the sale of coffee only, we can use these data to trace the historical development of the price of one pound of coffee during the period that is covered by the data set. **Try to create a CSV file containing the following two columns: the full date and the average price of a pound of coffee on that date**. 

Follow the steps below.

Firstly, add code below to download the data set. The code to write the file to disk is already provided.

In [ ]:
import requests

# FIXME: add code to download the CSV file from the URL 'https://tdm.universiteitleiden.nl/Python/voc-data.csv'
# Make sure to assign the file contents to the data_file variable
response = requests.get('https://tdm.universiteitleiden.nl/Python/voc-data.csv')
if response.status_code == 200:
    data_file = response.text

# Write to voc-data.csv in the current working directory
with open('voc-data.csv', 'w', encoding='utf-8') as output_file:
    output_file.write(data_file)

Once you have downloaded the CVS file, you can access the data values in this file using the code below.

In [ ]:
import pandas as pd

# Let's load the data into a data frame named `voc`:
voc = pd.read_csv('voc-data.csv')

To explore the contents data set, write some code to see the number of rows and columns, the columns names and all the values in te first 5 rows.

In [ ]:
print( voc.shape )
print( voc.columns.tolist() )
voc.head(5)

One difficulty in the original data set is that the year, the month and the day are captured in different columns. 

In a time series visualisation, dates can best be represented using a variable of the type `datetime`. Pandas has a convenient method named [`pd.to_datetime()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) which can assemble a datetime out of multiple columns. 

Write some code to add a new column to the existing data frame which can can create a new `datetime` object by combining the values found in the columns named `year`, `month` and `day`. Save this new datetime object in a column named 'date'.

In [ ]:
voc['date'] = pd.to_datetime(voc[['year', 'month', 'day']])

Next, try to calculate the total price that was paid for the product in each individual transaction. Store the result of this calculation in a column named ‘total price’. The total price can be calculated by adding the values in the column ‘flemish_pounds' and the values in the column ‘groten’, divided by 20. 

To be able to compare the prices, they obviously need to be normalised. This can be done by dividing the total price by the amount of coffee that purchased. All quantities are given in pounds, so if we calculate the values in the ‘total price’ column by the quantities, this should result in the price per point. Save the results of this calculation in a column named ‘price_per_pound’.

In [ ]:
voc['total_price'] = voc['flemish_pounds'] + (voc['groten'] / 20)
voc['price_per_pound']  = voc['total_price']  / voc['quantity']

The data set contains a number of records with missing data. In such cases, the values in the empty columns are represented using the code `NaN`, which stands for ‘Not a Number’. To remove all the records in which at least on of the column contains a missing value, we can make use of the dropna() method. If we only want to remove records if the have a `NaN` value in a specific column, we can work with the `subset` parameter, which needs to refer to the name of this column, as follows:

`df.dropna(subset = ['column_name'])`

Add some code which can remove records in which the 'price_per_pound' column has a `NaN` value.

In [ ]:
voc = voc.dropna(subset = ['price_per_pound'])

There is one final operation we need to complete to arrive at the correct values. The original data set contains data about the prices paid in individual transactions. We want to know the average prices per day. Calculate the average prices per day, by making use use of the `groupby()` and the `mean()` function.

In [ ]:
voc = voc.groupby('date').mean()

Finally, save the data frame as a CSV file using Panda's `to_csv` method.

In [ ]:
# Use Pandas' built-in functionality
voc.to_csv('prices_of_coffee_over_time.csv')

## Exercise 11.4

Download the CSV file 'gutenberg_metadata.csv' via the url [https://edu.nl/xcm3q](https://edu.nl/xcm3q). 

Using this CSV file, create a dataframe which only contains the English texts written by Charles Dickens. In the data set, this name is given as 'Dickens Charles'. Use the code 'en' for 'English'. 

Two different conditions can be combined using the amoersand ('&'). The combined criteria must be given in brackets.

In [ ]:
import requests
import pandas as pd

response = requests.get('https://edu.nl/xcm3q')
if response.status_code == 200:
    csv = response.text
    with open('gutenberg_metadata.csv' , 'w' , encoding = 'utf-8') as f:
        f.write(csv)

df = pd.read_csv('gutenberg_metadata.csv' )
df_dickens = df[ (df['author'] == 'Dickens Charles') & (df['language'] =='en' ) ]